.App{
    min-height: 100vh;
    background-color: tomato;
    /* overflow-y: hidden; */
    position: relative;
    /* overflow-x: hidden; */
}

/* .app-holder{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*/

.panel{
    scroll-snap-align: center;
} 