.floating-nav{
    position: fixed;
    bottom: 48%;
    left: -65px;
    height: 2px;
    width: 200px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: rotate(90deg);
    transition: opacity 200ms ease-in;
}

.fa-circle{
    color: white;
    font-size: 16px;
    opacity: .5;
}

.fa-circle:hover{
    opacity: 1;
}

.floating-item  {
    text-decoration: none;
    font-size: 10px; 
    cursor: pointer;
}


.active{
    transform: scale(1.25);
    transition: transform 200ms ease-in, opacity 300ms ease-in;
    opacity: .8;
}

.hidden{
    pointer-events: none;
    opacity: 0;
}