.menu-overlay{
    background-color: rgba(10, 10, 10, .65);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    
}

.menu-container{
    width: min(900px, 85%);
    height: 94%;
    background-color: white;
    position: relative;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    
}

.menu-container h3{
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0;
    
}

.menu-item{
    color: black; 
    margin-top: 10px;
    
}

.close-menu{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    outline-width: 0;
    background-color: rgba(120, 120, 120, .6);
    font-size: 26px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: background-color 200ms ease-in-out;

}

.close-menu:hover{
    background-color: rgba(120, 120, 120, .95);
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.menu-item-container,
.menu-appetizers-container,
.menu-salads-container{
    background-color: white;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.menu-item-name{
    color: tomato;
    font-size: 22px;
    font-family: 'Nothing You Could Do', cursive;
    text-transform: capitalize;
    margin-left: 10px;
    white-space: nowrap;
    margin-right: 15px;
    flex: .15;
}

.menu-item-toppings{
    color: black;
    font-size: .85rem;
    text-transform: capitalize;
    text-align: center;
    flex: .7;
}

.menu-item-price{
    white-space: nowrap;
    margin-right: 10px;
    margin-left: 5px;
    font-style: italic;
    flex: .08;
}

.menu-add-to-cart{
    margin-right: 6px;
    color: black;
    background-color: white;
    padding: 6px;
    outline-width: 0;
    border: 2px solid rgba(120, 120, 120, .25);
    flex: .08;
    font-weight: 800;
    white-space: nowrap;
}

.menu-add-to-cart:active{
    background-color: rgba(120, 120, 120, .6);
} 


.menu-add-to-cart:hover{
    transform: scale(1.06);
}

.go-to-checkout-from-menu:hover{
    background-color: rgba(90, 89, 89, 0.1);
}


.jimmys-menu-title{
    font-family: 'Nothing You Could Do', cursive;
    color: rgb(48,48,48);
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(83, 82, 82);
    margin-bottom: 10px;
    position: relative;
   
}


.go-to-checkout-from-menu{
    width: 40%;
    border: 2px solid tomato;
    padding: 10px;
    background-color: white;
    margin: 5px 0;
    font-weight: 800;
    align-self: center;
    outline: none;
 
}

/* @keyframes highlightBox {
    from {
        box-shadow: 0px 0px 10px 10px palegreen;
    } to {
        box-shadow: none;
    }
} */


.menu-item:last-of-type{
    margin-bottom: 4px;
}

.no-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.no-items{
    font-size: 20px;
    color: white;
}

.no-items-btn{
    font-weight: 700;
    padding: .5rem 1rem;
    margin-top: 15px;
    background-color: tomato;
}

.no-items-btn:hover{
    outline: 2px solid black;
}

.fa-shopping-cart-menu{
    color: black;
}

